.banner {
    height: 400px;
    background-image: url(../IMG/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #1f5b25;
}
body {
    background-color: #fbefdb;
}
li{
    list-style: none;
}
li img{
    height: 1rem;
}
a{
    padding: 10px;
    color: #1f5b25;
    border: 1px solid #1f5b25;
    
    
    
    
}
a:hover {
    color: #1f5b25;
    
    
    
}

h5{
    color: #212529;
    text-align: left;
    
 
    
}



.card-body{
    background-color: #fbefdb;
    
}
p{
    color: #212529;
    text-align: justify;
}





